.home {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  min-height: 100vh;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
  margin: 2rem;
}

.user-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 40%;
  padding: 2rem;
}

@media screen and (max-width: 933px) {
  .home {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .form-container,
  .user-list {
    width: 100%;
  }
}
